@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff9800, #000000);
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 10px;
    font-size: 1.2em;
}

/* container for Ninja Selector */
#ninjaSelector {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 150px;
    border: 2px solid #ffe082; /* amber */
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    animation: fadeIn 1s ease-out;
}

.foodChoices {
    width: 100%;
    min-height: 200px;
    margin: 40px 0;
    color: #ffecb3;  
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: fadeIn 1s ease-out;
    padding: 0 20px;
}

.foodChoices .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* provides vertical spacing between options */
}
    
.foodChoices .option input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}
    
.foodChoices .option label {
    font-size: 1.5em;
    color: #ffecb3; /* amber */
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

label {
    font-size: 1.5em;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.foodChoices label {
    margin: 5px 0;
    color: #ffecb3; /* amber */
}

.ninja {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.4em;
    border: 2px solid #20c997;
    border-radius: 40px;
    background-color: #212529;
    color: #f8f9fa;
    box-shadow: 0 0 10px #ffe082;
    transition: none;
}

.ninja:hover {

    transform: none;
}

#newMissionBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
    box-shadow: 0 0 10px #ffe082;
    border-radius: 10px;
    border: 2px solid #20c997;
    padding: 20px 40px;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.85);
    color: #f2f2f2;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: block; 
    animation: fadeIn 1s ease-out;
    transition: background-color 0.3s, transform 0.3s;
}

#newMissionBtn.show {
    display: block;
    animation: popUp 0.5s ease-out forwards;
}

#newMissionBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}