body {
    background-image: url('../images/');
}


#gameArea {
    position: relative;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    margin: 400px auto; 
    background: url('../images/ramenshop.jpg') center/cover no-repeat;
    background-size: cover;

}

#naruto {
    position: absolute;
    height: 110px;
    width: 40px;
    top: 240px;
    left: 2%;
    background-image: url('../images/pngimg.com\ -\ naruto_PNG40.png');
    background-size: cover; 
   
}


#ramenBowl {
position: absolute;
color: white;
height: 35px;
width: 45px;
top: 190px;
left: 20px;
background-image: url('../images/ramenbowl.png');
background-size: cover;
/* animation: ramen 2.3s infinite; */
animation: drop 2s infinite; 

}


/* .drop.animation {
    animation: drop 0.5s;
    } */
    
    .jump-animation {
        animation: jump 2s;
    }
    /* @keyframes jump {
       0%{top: 250px;}
       25%{top: 20px;}
       50%{top: 20px;}
       75%{top: 350px;}
      
    } */

    @keyframes jump {
        0% { transform: translateY(0); }
        50% { transform: translateY(-100px); }
        100% { transform: translateY(0); }
    }
    
    @keyframes drop {
        0%{left: 150px;}
        50%{left: calc(80% - 60px);}
        100%{left: 150px;}
        
}

#score {
    text-align: center;
    font-size: 3em; 
    color: #0c0b0a; 
    margin-top: -7%;
    margin-bottom: 50px; 
}